body {
  background-color: rgb(64, 233, 233);
}

p {
  color: rgb(17, 0, 255);
  background-color: rgb(208, 255, 0);
}

ol {
  background-color: red;
  border: 3px solid green;
}

img {
  border: 5px solid pink;
  width: 5%;
}

table,
th,
td {
  border: 3px solid yellow;
  border-collapse: collapse;
}

h1 {
  position: relative;
  left: 200px;
}