a:visited {
  color: aqua;
  background-color: azure;
}

a:active {
  color: rgb(255, 0, 140);
}

a:link {
  background-color: rgb(229, 255, 0);
  text-decoration: none;
  padding: 30px;
  position: relative;
  left: 40px;
  top: 40px;
}

a:hover {
  background-color: green;
  text-decoration: underline;
}